$blackColor: rgba(28, 25, 23, 1);
$whiteColor: #FFFFFF;
$grayColor: rgba(141, 140, 139, 1);
$greenBg: rgba(192, 228, 68, 1);
$blackBg: rgba(28, 25, 23, 1);
$whiteBg: rgba(249, 249, 251, 1);
$borderRadius: 100px;
$transition: .5s;